#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $primary;
	margin-top: 60px;
	font-size: 22px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

input {
	width: 100%;
	&:focus {
		outline-color: $green;
	}
}
