.todo-list {
	&__input {
		padding: 10px 18px;
		font-size: 18px;
		margin-bottom: 16px;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 12px;
		&-left {
			display: flex;
			align-items: center;
		}
		&-label {
			padding: 10px;
			margin-left: 10px;
		}
		&-edit {
			margin-left: 12px;
			padding: 10px;
			border: 1px solid #ccc;
			font-size: 22px;
		}
	}
	&__remove-item {
		background: none;
		border: none;
		cursor: pointer;
		transition: 0.2s color;
		&:hover {
			color: $green;
		}
		i {
			font-size: 20px;
		}
	}
}
