.todo-app {
	&__input {
		padding: 10px 18px;
		font-size: 18px;
		margin-bottom: 15px;
	}
	&__remanings {
		margin-top: 20px;
		font-size: 16px;
		span {
			&:first-child {
				text-decoration: underline;
				text-decoration-color: $secondary;
			}
			&.count {
				font-weight: bold;
			}
		}
	}
}
