<div class="todo-app">
	<h2>Todo App with Vue.js</h2>
	<input
		type="text"
		class="todo-app__input"
		placeholder="What do you need to be done?"
		v-model="newTodo"
		@keyup.enter="addTodo"
	/>
	<transition-group tag="div" class="todo-list" name="fade">
		<p v-if="todos && todos.length === 0" :key="0">
			Nothing needs to be done :)
		</p>
		<div v-else :key="1">
			<ul>
				<TodoItem
					v-for="todo in filteredTodos()"
					:key="todo.id"
					:todo="todo"
				/>
			</ul>
			<ButtonGroup :todos="todos" :visibility="visibility" />
			<div class="todo-app__remanings">
				<span
					>Remaining todos:
					<span class="count">{{remainingTodos()}}</span></span
				>
			</div>
		</div>
	</transition-group>
	<code>*To edit todo items, you can use double click*</code>
	<code>*To cancel an edit action, you can use esc key*</code>
</div>
