<div class="todo-app">
	<input
		type="text"
		class="todo-app__input"
		placeholder="Add a new task"
		v-model="newTodo"
		@keyup.enter="addTodo"
	/>
	<transition-group tag="ul" class="todo-list" name="fade">
		<li v-for="todo in todos" :key="todo.id" class="todo-list__item">
			<div class="todo-list__item-left">
				<input
					type="checkbox"
					v-model="todo.isDone"
					v-on:click="toggleIsDone(todo)"
				/>
				<label
					v-if="todo !== editedTodo"
					@dblclick="editTodo(todo)"
					class="todo-list__item-label"
					:class="{ done : todo.isDone }"
					>{{todo.description}}</label
				>
				<input
					v-else
					type="text"
					class="todo-list__item-edit"
					v-model="todo.description"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)"
					@keyup.escape="cancelEdit(todo)"
					v-focus
				/>
			</div>
			<button class="todo-list__remove-item" @click="removeTodo(todo.id)">
				<i class="fas fa-times"></i>
			</button>
		</li>
	</transition-group>
	<div class="todo-app__filter-buttons">
		<button>All</button>
		<button>Active</button>
		<button>Completed</button>
	</div>
</div>
