<div class="todo-list">
	<input
		type="text"
		class="todo-list__input"
		placeholder="Add new task"
		v-model="newTodo"
		@keyup.enter="addTodo"
	/>
	<div v-for="(todo, index) in todos" :key="todo.id" class="todo-list__item">
		<div class="todo-list__item-left">
			<input type="checkbox" v-model="todo.isDone" />
			<label
				v-if="!todo.editing"
				@dblclick="editTodo(todo)"
				class="todo-list__item-label"
				:class="{ done : todo.isDone }"
				>{{todo.description}}</label
			>
			<input
				v-else
				type="text"
				class="todo-list__item-edit"
				v-model="todo.description"
				@blur="editTodo(todo, false)"
				@keyup.enter="editTodo(todo, false)"
				@keyup.escape="cancelEdit(todo)"
				v-focus
			/>
		</div>
		<button class="todo-list__remove-item" @click="removeTodo(index)">
			<i class="fas fa-times"></i>
		</button>
	</div>
</div>
